[
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "The record of NCAA for this month is {{REPORTING_AMOUNT_EUR}}"
			}
		},
		{
			"type": "section",
			"fields": [
				{
					"type": "mrkdwn",
					"text": "The current month is {{DATE_STRING_YYYY_MM}}"
				}
			]
		}
	]
